{{- $lang := .Type | default "text" }}
{{- $title := .Attributes.title | default "" }}
{{- $u_lang := .Attributes.lang | default ""  }}
{{- $hideLang := .Attributes.hide | default false  }}

{{- if and (.Attributes.force) (ne $u_lang "")  }}
{{- $lang = $u_lang }}
{{- end }}


<div class="pe-code-block-wrap pe-code-details {{- if not .Attributes.fold }} open scrollable{{ end }}">
    <div class="pe-code-block-header pe-code-details-summary">
        <div class="pe-code-block-header-left">
            <i class="arrow fas fa-chevron-right fa-fw pe-icon" aria-hidden="true"></i>
            {{ if not $hideLang }}
            <span>
            {{- if ne $u_lang "" }}
            {{- $u_lang -}}
            {{- else }}{{- $lang -}}{{- end }}
            </span>
            {{ end }}
        </div>
        <div class="pe-code-block-header-center">
            <span>
            {{- if ne $title "" }}
            {{- $title }}
            {{ end }}
            </span>
        </div>
        <div class="pe-code-block-header-right">
            <i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i>
            <button class="pe-code-copy-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="pe-icon"><path fill="currentColor" fill-rule="evenodd" d="M7 5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-2v2a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h2zm2 2h5a3 3 0 0 1 3 3v5h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-9a1 1 0 0 0-1 1zM5 9a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1v-9a1 1 0 0 0-1-1z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
    </div>
    <div class="pe-code-details-content">
        {{ highlight .Inner $lang .Options }}
    </div>
</div>
