.pe-badge {
    display: inline-flex;
    align-items: center;
    background-color: #555;
    color: white;
    border-radius: var(--radius);
    overflow: hidden;
    font-size: .8em;
    text-align: center;
    margin-right: .5rem;
}

.pe-badge-key {
    padding: .2rem .5rem .2rem 1rem;
}

.pe-badge-value {
    background-color: #4caf50;
    padding: .2rem 1rem .2rem .5rem;
}