.list {
    background: #ffffff;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pe-moment {
    padding: 2rem 0;
    gap: 1rem;
    align-items: flex-start;
    display: flex;
}

li.pe-moment:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}

.pe-moment-header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.pe-moment-profile {
    margin: 0;
    width: 4.8rem;
    border-radius: 50%;
}

img.pe-moment-profile:hover {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.dark .pe-moment-profile {
    background: #d6d6d6;
}

.pe-moments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pe-moment-body {
    width: 100%;
    overflow: hidden;
}

.pe-moment-content {
    margin-bottom: 1.6rem;
}

.pe-moment-tag {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 0.875em;
    line-height: 1;
    color: #999999; /* 暗色字体 */
    background-color: #f0f0f0; /* 浅色背景 */
    border-radius: 0.5rem;
}

.dark .pe-moment-tag {
    background-color: #333; /* 暗色背景 */
}

.pe-moment-bottom {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
}

.pe-moment-time {
    display: inline-block;
    color: #999999;
    font-size: 1.4rem;
}

.pe-moment-comment-btn svg {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    vertical-align: 0.15em;
    fill: var(--pe-btn-font-color);;
}

.pe-moment-comment-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    background: var(--tertiary);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.pe-moment-comment-btn:hover {
    background-color: var(--pe-primary-hover-color);
    border-radius: .5rem;
}

.pe-moment-comment {
    margin-top: .2rem;
}

.page-footer {
    margin-top: 2rem;
}

@media screen and (max-width: 568px) {
    img.pe-moment-profile {
        width: 4rem;
    }
}

.pe-stamp {
    position: absolute;
    right: 3rem;
    transform: translateY(-1rem);
}

.pe-stamp-icon {
    width: 8rem;
    height: 8rem;
}

.pe-moment-content ul {
    list-style: disc inside;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pe-moment-content ul ul {
    list-style: circle inside;
    padding-inline-start: 2rem;
}

.pe-moment-content ul ul ul {
    list-style: square inside;
}

