.pe-git {
    display: flex;
    gap: 1rem;
    border: 1px solid #ececec;
    padding: 1rem;
    border-radius: 3px;
    margin: 2rem 1.5rem;
    transition: .5s;
}

.dark .pe-git {
    border: 1px solid rgb(88, 88, 88);
}

.pe-git-platform-icon {
    width: 3.2rem;
    height: 3.2rem;
}

.gitee .pe-git-platform-icon {
    fill: #C71D23;
}

.dark .pe-git-platform-icon {
    fill: #e6edf3;
}

.dark .gitee .pe-git-platform-icon {
    fill: rgba(199, 29, 35, .9);
}

.pe-git-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pe-git-repo-name a {
    font-size: 1.8rem;
    color: #3478CD;
    text-decoration: none;
}

.pe-git-repo-name a:hover {
    box-shadow: 0 1px var(--pe-primary-hover-color);
    color: var(--pe-primary-hover-color);
}

.pe-git-description {
    font-size: 1.4rem;
}

.pe-dot {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}

.pe-git-extend {
    font-size: 1.4rem;
    color: #999999;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.pe-git-language {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.pe-git-count {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pe-git-count-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.pe-git-count-item-icon {
    fill: #999999;
    width: 1.6rem;
    height: 1.6rem;
}

.pe-git-error {
    color: #ff1744;
}

.pe-loading,
.pe-loading > div {
    position: relative;
    box-sizing: border-box;
}

.pe-loading {
    display: block;
    font-size: 0;
    color: #000;
}

.dark .pe-loading {
    color: #fff;
}

.pe-loading > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.pe-loading {
    width: 3.2rem;
    height: 3.2rem;
}

.pe-loading > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .8rem;
    height: .8rem;
    margin-top: -.4rem;
    margin-left: -.4rem;
    border-radius: 100%;
    animation: pe-loading-frames 1s infinite ease-in-out;
}

.pe-loading > div:nth-child(1) {
    top: 5%;
    left: 50%;
    animation-delay: -0.875s;
}

.pe-loading > div:nth-child(2) {
    top: 18%;
    left: 81%;
    animation-delay: -0.75s;
}

.pe-loading > div:nth-child(3) {
    top: 50%;
    left: 95%;
    animation-delay: -0.625s;
}

.pe-loading > div:nth-child(4) {
    top: 81%;
    left: 81%;
    animation-delay: -0.5s;
}

.pe-loading > div:nth-child(5) {
    top: 94%;
    left: 50%;
    animation-delay: -0.375s;
}

.pe-loading > div:nth-child(6) {
    top: 81%;
    left: 18%;
    animation-delay: -0.25s;
}

.pe-loading > div:nth-child(7) {
    top: 49%;
    left: 5%;
    animation-delay: -0.125s;
}

.pe-loading > div:nth-child(8) {
    top: 18%;
    left: 18%;
    animation-delay: 0s;
}

.pe-loading.la-sm {
    width: 1.6rem;
    height: 1.6rem;
}

.pe-loading.la-sm > div {
    width: .4rem;
    height: .4rem;
    margin-top: -.2rem;
    margin-left: -.2rem;
}

.pe-loading.la-2x {
    width: 6.4rem;
    height: 6.4rem;
}

.pe-loading.la-2x > div {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -.8rem;
    margin-left: -.8rem;
}

.pe-loading.la-3x {
    width: 9.6rem;
    height: 9.6rem;
}

.pe-loading.la-3x > div {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: -1.2rem;
    margin-left: -1.2rem;
}

@keyframes pe-loading-frames {
    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: scale(0);
    }
}