.not-found-icon {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.not-found-go-home {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.not-found-go-home a {
    padding: 15px 80px;
    text-decoration: none;
    font-size: 18px;
    background-color: var(--pe-btn-bg-color);
    border-radius: 8px;
    outline: none;
    border: none;
    color: var(--pe-btn-font-color);
}

.not-found-go-home a:hover {
    transition: 0.15s;
    background-color: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

@media screen and (max-width: 568px) {
    .not-found-icon > svg {
        height: 200px;
    }
}
