#searchBox input {
    padding: .4rem 1rem;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
}

#searchBox input:focus {
    border-color: var(--secondary);
}

#searchResults li {
    list-style: none;
    border-radius: var(--radius);
    padding: 1rem;
    margin: 1rem 0;
    position: relative;
    font-weight: 500;
}

#searchResults {
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
}

#searchResults .focus {
    transform: scale(0.98);
    border: 2px solid var(--tertiary);
}

#searchBox .post-entry:hover {
    box-shadow: none;
    transition: transform 0.1s;
    transform: scale(0.98);
}

.pe-search-result-wrap {
    padding-top: 1rem;
    /* 初始化状态，可以设置一个默认的最大高度以隐藏内容，或者使用opacity:0来完全隐藏 */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease; /* 动画时长和速度曲线 */
}

/* 当有内容时的样式，通过类名或其他方式激活 */
.pe-search-result-wrap.show {
    max-height: max-content; /* 设置一个足够大的高度以容纳任何内容，或者使用height:auto */
    opacity: 1;
}